div,dl,ul,li,dt,dd {
	margin: 0;
	padding: 0;
}

body {
	width: 1380px;
}

.pull-left {
	float: left;
}

.clearfix {
	clear: both;
}

.margin-left-30 {
	margin-left: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}



.blockes {
	border: 1px solid #000;
	box-sizing: border-box;
	height: 496px;
	margin-top: 40px;
	padding: 3px;
	width: 496px;
}

.block {
	border: 3px solid #000;
	box-sizing: border-box;
	display: block;
	float: left;
	height: 50px;
	margin: 2px;
	width: 50px;
}

.block-selected {
	background-color: gray;
}

.stack {
	border: 1px solid #000;
	height: 515px;
	margin: 0 10px;
	overflow-y: auto;
	padding: 10px;
	width: 100px;
}

.stack-title {
	margin-bottom: 14px;
}

.stack-ele {
	background-color: #878080;
	border: 3px solid #000;
	box-sizing: border-box;
	display: block;
	height: 23px;
	margin-bottom: 4px;
	width: 80px;
}

.stack-ele-selected {
	border-color: orange;
}


.configs-field {	
	height: 492px;
	margin-left: 30px;
	width: 500px;
}

.config-text {
	margin-bottom: 5px;
}

.config-textarea {
	clear: right;
	display: block;
	height: 460px;
	width: 500px;
	resize: none;
}

.ctrl-field {
	display: block;
	padding-top: 20px;
}

.btn {
	height: 40px;
	margin: 0px 0px 5px 10px;
}