.control-panel{
	float: left;
	width: 250px;
}

.config, .painting-tools{
	float: left;
	margin: 0 0 20px 0;
	padding: 0;
	width: 250px;
}

.config dd {
	list-style: none;
	margin-left: 15px;
	margin-bottom:5px;
}

.config dd input {
	width: 50px;
}

.output {
	border: 1px solid #000;
	float: left;
	height: 120px;
	resize: none;
	width: 250px;
}

.board {
	border: 1px solid #000;
	float: left;
	margin-left: 30px;
}

.board span{
	box-sizing: border-box;
	border: 1px solid #000;
	background: #fff;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.board span.selected {
	background: gray;
}